<%- include('./partials/header') %>

<style>

  .cards-in-deck {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 4em;
  }

  .cards-in-deck p {
    text-align: center;
  }

  .card-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .card-buttons form {
    margin: 0 5px;
  }

  .disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  .minus-btn-deckdetail button{
    width: 60px;
    height: auto;
    border: solid white 2px;
  }
  .plus-btn-deckdetail button{
    width: 60px;
    height: auto;
    border: solid white 2px;
    margin-left: 1.4em;
  }
  .delete-btn-deckdetail button{
    width: 60px;
    height: auto;
    background-color: #52003a;
 
    border: solid red 2px;
  }
  .fa{
    font-size: larger;
  }



</style>

<body>
  <section class="user-knopjes" style="height: 5vh;  display: flex; justify-content: space-between; margin-top: 2vh; margin: 2em;">
    <button>Terug</button>
    <button>kaart-toevoegen</button>
  </section>
  <main class="decklist-body">
    <h2>Cards in Deck</h2>
    <% if (cards.length === 0) { %>
      <div style="font-size: larger; color: white; text-align: center">
        <p>Geen kaarten, voeg kaarten aan deze </p>
        <br>
        <a href="/main">deck</a>
      </div>
    <% } else { %>
      <ul class="cards-in-deck">
        <% cards.forEach(({ card, quantity }) => { %>
          <li>
            <p class="info-totaldeck"><%= quantity %> / 4</p>
          
            <img class="card" src="<%= card.imageUrl %>" alt="<%= card.name %>">
            <div class="card-buttons">

              
              <% if (quantity == 1) { %>
                <form class="delete-btn-deckdetail" action="/deckdetail/delete-card" method="post">
                  <input type="hidden" name="deckId" value="<%= deck._id %>">
                  <input type="hidden" name="cardId" value="<%= card.name %>">
                  <button type="submit"><i class="fa fa-trash-o"></i></button>
                </form>
              <% } else{%>
                <form class="minus-btn-deckdetail" action="/deckdetail/update-card" method="post">
                  <input type="hidden" name="deckId" value="<%= deck._id %>">
                  <input type="hidden" name="cardId" value="<%= card.name %>">
                  <input type="hidden" name="change" value="-1">
                  <button  type="submit"><i class='fas fa-angle-double-down'></i></button>
                </form>
                <% } %>
            
              <% if (quantity < 4) { %>
                <form class="plus-btn-deckdetail" action="/deckdetail/update-card" method="post">
                  <input type="hidden" name="deckId" value="<%= deck._id %>">
                  <input type="hidden" name="cardId" value="<%= card.name %>">
                  <input type="hidden" name="change" value="1">
                  <button type="submit" <%= quantity >= 4 ? 'disabled class="disabled"' : '' %> ><i class='fas fa-angle-double-up'></i></button>
                </form>
              <% } %>
            </div>
          </li>
        <% }); %>
      </ul>
      
    <% } %>
    <section class="pagination">
      <% if (currentPage > 1) { %>
        <a href="/deckdetail?id=<%= deck._id %>&p=<%= currentPage - 1 %>">&larr;</a>
      <% } %>
      <% if (currentPage > 3) { %>
        <a href="/deckdetail?id=<%= deck._id %>&p=1"><%= 1 %></a>
        <span>...</span>
      <% } %>
      <% for (let i = currentPage - 2; i <= currentPage + 2; i++) { %>
        <% if (i > 0 && i <= totalPages) { %>
          <a class="<%= i === currentPage ? 'active' : '' %>" href="/deckdetail?id=<%= deck._id %>&p=<%= i %>"><%= i %></a>
        <% } %>
      <% } %>
      <% if (currentPage < totalPages - 2) { %>
        <span>...</span>
      <% } %>
      <% if (currentPage < totalPages - 1) { %>
        <a href="/deckdetail?id=<%= deck._id %>&p=<%= totalPages %>"><%= totalPages %></a>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <a href="/deckdetail?id=<%= deck._id %>&p=<%= currentPage + 1 %>">&rarr;</a>
      <% } %>
    </section>
  </main>
</body>

<%- include('./partials/footer') %>
