<!--
<div class="custom-deck-card">
    <a href="/deckdetailpage">
        <img src="./assets/images/mtgachterkant.jpg" alt="Urza, Lord Protector" />
    </a>
    <p class="deck-name">Mono Red Aggro</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="Arwen, Weaver of Hope" />
    <p class="deck-name">Jund Midrange</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="The Gaffer" />
    <p class="deck-name">Storm Combo</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="The Ur-Dragon" />
    <p class="deck-name">Green Ramp</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="Questing Beast" />
    <p class="deck-name">Merfolk Tribal</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="Marrow-Gnawer" />
    <p class="deck-name">Golgari Reanimator</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="Greensleeves, Maro Sorcerer" />
    <p class="deck-name">Izzet Tempo</p>
</div>

<div class="custom-deck-card">
    <img src="./assets/images/mtgachterkant.jpg" alt="Mangara, the Diplomat" />
    <p class="deck-name">Azorius Control</p>
</div>
-->
<%- include('./partials/header') %>
<body>

    <div class="custom-deck-container">
        <button id="add-deck-btn">Maak een nieuw deck aan</button>
        <div id="popup-container" class="hidden">
            <div id="deck-image-container"></div>
            <input type="text" id="deck-name-input" placeholder="Voer een decknaam in" class="deckname-input">
            <button id="save-deck-btn" class="save-button">Mijn keuze opslaan</button>
        </div>
    </div>
    <div id="display-deck-container">
        <% decks.forEach(deck => { %>
          <div class="saved-deck-container">
          </div>
          <% decks.forEach((deck) => { %>
            <div class="deck" style="display: flex; justify-content: space-evenly; flex-direction: column; height: 150px; width: 150px;">
              <h2 style="color: yellow;"><%= deck.name %></h2>
              <img class="image" src="<%= deck.imageUrl %>" alt="<%= deck.name %>">
            </div>
          <% }); %>
        <% }); %>
      </div>




</body>
<script src="/js/decklist.js">
      document.getElementById('create-deck-btn').addEventListener('click', createDeck);

</script>

<%- include('./partials/footer') %> 
