
<%- include('./partials/header') %>
<body>

    <div class="custom-deck-container">
        <button id="add-deck-btn">Maak een nieuw deck aan</button>
        <div id="popup-container" class="hidden">
            <div id="deck-image-container"></div>
            <input type="text" id="deck-name-input" placeholder="Voer een decknaam in" class="deckname-input">
            <button id="save-deck-btn" class="save-button">Mijn keuze opslaan</button>
        </div>
    </div>
    <div id="display-deck-container">
      <% decks.forEach((deck) => { %>
        <div class="saved-deck-container">
          <div class="deck-image-container">
            <a href="/deckdetail?id=<% deck.id %>"><img class="deck-image-created" src="<%= deck.imageUrl %>" alt="<%= deck.name %>"></a> 
          </div>
          <h2 class="deck-name" style="color: yellow;"><%= deck.name %></h2>
        </div>
      <% }); %>
  </div>
       
      </div>

 



</body>
<script src="/js/decklist.js">
      document.getElementById('create-deck-btn').addEventListener('click', createDeck);

</script>

<%- include('./partials/footer') %> 
