<%- include('./partials/header') %>

  <body>
    <div class="search-box">
      <form action="/main" method="get">
        <input type="text" id="search" name="searchedCards" placeholder="Zoek een kaart...">
        <button class="search-button" type="submit">Zoek</button>
      </form>
    </div>
    <main style="height: 100%;">
      <div class="image-gallery">
        <% for( card of cards ) { %>
          <article class=" card <%= getRarityClass(card.rarity) %>">
            <a href="/cardinfo?name=<%= card.name %>">
              <img class="image" src="<%= card.imageUrl %>" alt="<%= card.name %>" />
            </a>
          </article>
          <% } %>
      </div>

      <section class="pagination">
        <% if (currentPage> 1) { %>
          <a href="/main?p=<%= currentPage - 1 %>&searchedCards=<%= searchedCards %>">&larr;</a>
          <% } %>

            <% if (currentPage> 3) { %>
              <span style="color: white;" >...</span>
              <% } %>
                <% for (let i=currentPage - 2; i <=currentPage + 2; i++) { %>
                  <% if (i> 0 && i <= totalPages) { %>
                      <a class="<%= i === currentPage? 'active' : '' %>"
                        href="/main?p=<%= i %>&searchedCards=<%= searchedCards %>">
                        <%= i %>
                      </a>
                      <% } %>
                        <% } %>
                          <% if (currentPage < totalPages - 2) { %>
                            <span style="color: white;">...</span>
                            <% } %>

                              <% if (currentPage < totalPages) { %>
                                <a href="/main?p=<%= currentPage + 1 %>&searchedCards=<%= searchedCards %>">&rarr;</a>
                                <% } %>
      </section>
    </main>
  </body>

  <button id="goUpBtn" class="go-up-btn" onclick="scrollToTop()">  &#x2191; </button>

  </html>