<%- include('./partials/head') %>


  <body>
    <header>
      <img id="logo" src="./assets/images/LogoMuskNite.png" alt="Logo" />
      <nav>
        <ul>
          <li class="active"><a href="/mainpage">Home</a></li>
          <li><a href="/deckpage">Deck</a></li>
          <li><a href="/index">+Draw</a></li>
        </ul>
      </nav>
      <a href="/landingpage" class="logout-button"><i class="fa-solid fa-right-from-bracket"></i></a>
    </header>

    <div class="search-box">
      <input type="text" placeholder="Zoeken..." />
      <button>Zoeken</button>
    </div>


    <main>

      <section class="image-gallery">
        <% for( card of cards ) { %>
          <article class="">
            <a href="/cardinfopage">
              <img src="<%= card.imageUrl %>" alt="<%= card.name %>" />
            </a>
          </article>
          <% } %>
      </section>

      <section class="pagination">
        <% if (currentPage > 1) { %>
          <a href="/main?p=<%= currentPage - 1 %>">Previous</a>
        <% } %>
        <% if (currentPage > 3) { %>
          <a href="/main?p=1"><%= 1 %></a>
        <% } %>
        <% if (currentPage > 3) { %>
          <span>...</span>
        <% } %>
        <% for (let i = currentPage - 2; i <= currentPage + 2; i++) { %>
          <% if (i > 0 && i <= totalPages) { %>
            <a
              class="<%= i === currentPage ? 'active' : '' %>"
              href="/main?p=<%= i %>"
              ><%= i %></a
            >
          <% } %>
        <% } %>
        <% if (currentPage < totalPages - 2) { %>
          <span>...</span>
        <% } %>
        <% if (currentPage < totalPages - 1) { %>
          <a href="/main?p=<%= totalPages %>"><%= totalPages %></a>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <a href="/main?p=<%= currentPage + 1 %>">Next</a>
        <% } %>
      </section>
    </main>  
  </body>
  <%- include('./partials/footer') %>