<%- include('./partials/head') %>
  <body>
    <section class="container">
      <img src="/assets/images/LogoMuskNite.png" alt="Magic the Gathering" />

      <form class="registration" action="/register" method="post" id="register-form">
        <h1>Registratie</h1>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" value="<%= email %>" required />
        <label for="password">Kies een wachtwoord</label>
        <input type="password" id="password" name="password" value="<%= password %>" required /><br>
        <label for="passwordConfirm">Herhaal wachtwoord</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" value="<%= passwordConfirm %>" required />
        <button type="submit">Registratie bevestigen</button>
      </form>
  

      <section class="login-link">
        <p>
          Heb je al een account? <br> <a href="/login">Meld je dan hier aan!</a>
        </p>
      </section>
    </section>
  </body>
  <%- include('./partials/footer') %>